page-rate-modal {
    .content-md {
        background: rgba(22,23,27,.58);
        .rate-modal{
            background: color($colors,light);
            text-align: center;
            border-radius: 3px;
            display: inline-block;
            width: calc(100% - 50px);
            position: absolute;
            top: calc(50% - 85px);
            left: 25px;
            h3{
                font-size:1.8rem;
                margin: 15px;
            }
            .rating{
                padding: 0;
                li{
                    font-size: 3rem;
                    color: color($colors,secondary);
                    padding: 0 !important;
                }
            }
            .button{
                border-radius:  0 0 3px 3px;
                margin: 0;
            }
        }
    }
}
